@import "tailwindcss";

button {
  transition: all 0.25s ease;
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.96);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}