.features{

padding:60px 8%;

text-align:center;

}


.features h2{

font-size:38px;

color:#1b5e20;

margin-bottom:40px;

}



.feature-container{

display:flex;

flex-direction:row;

justify-content:center;

align-items:stretch;

gap:25px;

flex-wrap:wrap;

}



.feature-card{

background:white;

width:250px;

min-height:220px;

padding:30px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,0.15);

text-align:center;

transition:0.3s;

}



.feature-card:hover{

transform:translateY(-8px);

}



.icon{

font-size:45px;

margin-bottom:15px;

}



.feature-card h3{

color:#2e7d32;

margin-bottom:15px;

}



.feature-card p{

color:#555;

line-height:1.5;

}




@media(max-width:900px){


.feature-container{

flex-direction:row;

}


}



@media(max-width:600px){


.feature-container{

flex-direction:column;

align-items:center;

}


}