.stats{

padding:70px 10%;

background:white;

text-align:center;

}


.stats h2{

font-size:40px;

color:#1b5e20;

margin-bottom:40px;

}


.stats-container{


display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:30px;


}

.stat-card{


background:

linear-gradient(
135deg,
#2e7d32,
#66bb6a
);


color:white;


padding:40px 20px;


border-radius:20px;

box-shadow:
0 10px 25px rgba(0,0,0,.15);

transition:.4s;

}

.stat-card:hover{

transform:
translateY(-10px);


}

.stat-card h1{

font-size:45px;

margin-bottom:10px;


}