body{

margin:0;

font-family:
'Segoe UI',sans-serif;

background:#f4fff4;

}


/* Navbar */

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 70px;

background:#2e7d32;

color:white;

}


.navbar a{

color:white;

margin:20px;

text-decoration:none;

font-size:17px;

}



/* Hero */

.hero{

height:450px;

background:

linear-gradient(
rgba(0,80,0,.5),
rgba(0,80,0,.5)
),

url("./assets/farm.jpg");

background-size:cover;

display:flex;

align-items:center;

justify-content:center;

color:white;

text-align:center;

}


.hero h1{

font-size:45px;

}


.hero p{

font-size:20px;

max-width:600px;

}


.hero button{

padding:15px 35px;

background:#8bc34a;

border:none;

border-radius:30px;

font-size:18px;

cursor:pointer;

}


.hero button:hover{

background:white;

}



/* Crop Price Section */

.crop-price-section{

padding:50px;

text-align:center;

}


.crop-price-section h2{

color:#2e7d32;

font-size:36px;

}



.table-container{

overflow-x:auto;

width:90%;

margin:auto;

}



.crop-table{

width:100%;

background:white;

border-collapse:collapse;

box-shadow:0 5px 20px #ccc;

border-radius:15px;

overflow:hidden;

}



.crop-table th{

background:#2e7d32;

color:white;

padding:15px;

}



.crop-table td{

padding:15px;

border-bottom:1px solid #ddd;

}



.crop-table tr:hover{

background:#e8f5e9;

}



/* Admin Dashboard */

.admin{

min-height:100vh;

}



/* Footer spacing */

.footer{

margin-top:30px;

}



/* Responsive */

@media(max-width:700px){


.navbar{

padding:20px;

flex-direction:column;

}


.navbar a{

margin:10px;

}



.hero{

height:auto;

padding:80px 20px;

}


.hero h1{

font-size:35px;

}


.hero p{

font-size:18px;

}


.crop-price-section{

padding:20px;

}


}